<div class="upper-border-blue">
  <div class="container">
    <div class="row">


      <!--<p>
        footer works!
      </p>-->


      <div id="bottom" style="color: white">
       2018 Whole Yachts Inc. All Rights Reserved | <a>Privacy Policy</a>
      </div>

      <style>

        #bottom {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          background-color: rgb(15, 44, 96);
      </style>

    </div>
  </div>
</div>
